### deny iframing
#Header set X-Frame-Options SAMEORIGIN

### mod_rewrite
RewriteEngine On
RewriteBase /public
RewriteRule ^\.(.*)$ - [F]

### force ssl
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{SERVER_NAME}/%$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !index.php$
RewriteRule ^(.*)$ index.php
